extend layout
include mixins

block title
	| {B} Coder

block body

	+heading-big

	section.theme1
		.content-narrow

			.row
				.col-sm-6.text-center
					a(href='/teach').button.button-giant → Teach Coding
					p.subtext.lead Instructional Coaching Program

				.col-sm-6.text-center
					a(href='/learn').button.button-giant → Learn Coding
					p.subtext.lead 1-on-1 Programming Tutoring

	section.theme2
		.content
			h1 What is {B} Coder?
			p {B} Coder is an organization dedicated to producing quality technology education and cultivating coders that contribute to humanity.

			h1 What makes us different?
			p We value the human side of technology above all else. We coach instructors to teach in service to their students, and students to leverage their technology skills for the benefit of humankind.

			h1 Want to teach?
			p Read about our 
				a(href='/teach') Instructional Coaching Program
				|	to learn how you can accelerate your career as a coding instructor.

			h1 Want to learn to code?
			p Learn from one of our trained instructors in 
				a(href='/learn') 1-on-1 Programming Tutoring
				| .


	section.theme1
		//+mailing-list
		+footer
