extend layout
include mixins

block title
	| {B} Coder - Learn Coding

block body

	+heading-slim

	section.theme1
		.content

			h1 1-on-1 Programming Tutoring

			h2 Personalized Learning
			p Work 1-on-1 with a personal tutor who will support you exactly where you are at in your learning.

			h2 Screensharing
			p Skype's video platform is perfect for tutoring, allowing video chat while simultaneously demonstrating programming features and exchanging code through the chat window.

			h2 Tutoring from Anywhere
			p Download the Skype client and within minutes you can log in to receive face-to-face tutoring.

	section.theme2
		//+mailing-list
		+footer
