<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <input type="text" value="" name="FNAME" class="form-control" required id="mce-FNAME" placeholder="First Name">
    <input type="text" value="" name="LNAME" class="form-control" required id="mce-LNAME" placeholder="Last Name">
    <input type="email" value="" name="EMAIL" class="form-control email" required id="mce-EMAIL" placeholder="Email">
    <!--<div class="label-short">I'm a </div><input type="text" value="" name="ROLE" class="label-long" required id="mce-ROLE" placeholder="Student/Teacher/Organization/Other">-->

    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->