<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://mindmapjournaling.us5.list-manage.com/subscribe/post?u=ae106b138ed57863083ffc9ef&amp;id=a59bd873bc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="First Name">
    <input type="text" value="" name="LNAME" class="required" id="mce-LNAME" placeholder="Last Name">
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">

    <div class="clear"><input type="submit" value="I'm Interested" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->