extend layout
include mixins

block title
	| {B} Coder - Teach Coding

block body

	+heading-slim

	section.theme1
		.content

			h1 Instructional Coaching Program

			h2 Instructor Training
			p Learn the skills and values that make {B} Coder Instructors unique. Coaching sessions and study materials provided.

			h3 Topics include:
			ul
				li A teacher’s #1 job
				li 2 questions to guide every teaching session
				li Catering to different learning styles
				li Setting up the student for success
				li Balancing Structure
				li Dealing with frustration
				li Teaching with questions
				li Honesty
				li Humility
				li Normalizing the learning process
				li Supporting students in pushing through difficulty


			h2 Practicum
			p Teach programming to real tutoring clients as you integrate {B} Coder Instructor training with your personal teaching style and experience. Review sessions with your personal coach.

			h2 Tutoring Clients
			p Migrate to our paid tutoring platform where you can teach a variety of students learning programming for the first time. Enjoy a managed customer pipeline and self-directed schedule. Work part-time or make a living teaching programming.

			h2 Community Engagement
			p {B} Coder actively supports technology education within the community. Connect with other educators at sponsored meetups and workshops designed specifically for coding instructors.


	section.theme2
		//+mailing-list
		+footer
